.title{
    display: flex;
    gap : 11px;
    align-items: center;
    justify-content: left;
    margin-left: 21px;
}

.map_box{
    display: flex;
    justify-content: center;
    align-items: center;
}